<html>
<head>
    <title>Icecube</title>
    <link rel="stylesheet" href={{url_for('static', filename = 'style.css')}}>
</head>
<style>
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<body background="{{ url_for('static', filename ='background.jpg')}} ">

    <div class="hero">
        <div class="navbar">
            <img src={{url_for('static', filename = 'logo.png')}} class="logo rotate">
            <div class="bu">
            <button type="button"><a href="/SignIn">Sign In</a></button>
            <button type="button"><a href="/SignUp">Sign Up</a></button>
            <button type="button"><a href="/Admin">Admin</a></button>
        </div>
        </div>
        <div class="content">
             Welcome to our
            <h1>ICE CUBE</h1>
            <div class="bu">
            <button type="button"><a href="/Products">LET'S GO </a></button>
        </div>
        </div>
    </div>

</body>
</html>